<!-- 
<div>
    <h2>Favorites</h2>
    <div *ngFor="let country of favorites">
      <span>{{ country.name.common }}</span>
      <button (click)="removeFromFavorites(country)">Remove</button>
    </div>
  </div> -->
<!--   
  <!-- favorites.component.html -->
<!-- <div *ngFor="let favorite of favorites"> -->
    <!-- <img [src]="favorite.flags.svg" alt="{{ favorite.name.common }} Flag" /> -->
    <!-- <h3>{{ favorite.name.common }}</h3> -->
    <!-- <p>Capital: {{ favorite.capital }}</p> -->
    <!-- <p>Population: {{ favorite.population }}</p> -->
    <!-- <p>Currencies: {{ getCurrencies(favorite.currencies) }}</p> -->
    <!-- <p>Continent: {{ favorite.region }}</p> -->
    <!-- <button (click)="removeFromFavorites(favorite)">Remove from Favorites</button> -->
  <!-- </div> --> -->

  <div class="card-group">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div *ngFor="let favorite of  favorites" class="col">
        <div class="card-container">
          <div class="card">
            <img [src]="favorite.flags.svg" class="card-img-top" alt="{{ favorite.name.common }} Flag" />
            <div class="card-body">
              <h5 class="card-title">{{ favorite.name.common }}</h5>
              <p class="card-text">Capital: {{ favorite.capital }}</p>
              <p class="card-text">Population: {{ favorite.population }}</p>
              <!-- <p class="card-text-currency expand-sm">Currencies: {{ getCurrency(country) }}</p> -->
              <p class="card-text">Continent: {{ favorite.region }}</p>
              <!-- <button (click)="addToFavorites(country)" class="btn btn-dark btn-sm">Add to Favorites  ⭐ </button> -->
              <br>
              <!-- <button (click)="openGoogleMaps(country)" class="btn btn-dark btn-sm">Open in Google Maps</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 

  